<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h2>Home Page</h2>
	<br/>
	<a href="/category">Categories</a> |
	<a href="#">Products</a> |
	<a href="/logout">Logout</a>
	
</body>
</html>